<div class='container'>
<h2><%= @post.title %></h2>


<p><%= @post.body %></p>
<% if session[:user_id] %>
<a href="/create_comment/<%=@post.id%>"><button>Comment on this article</button></a>
<% end %>
<ol>
<% @comments.each do |comment| %>
  <li><i data-comment-id='<%= comment.id %>' class="fa fa-magic comment_vote"></i><%= comment.body %></li>
  <% end %>
</ol>
  <p>
    <a href="/"><button>Head Home</button></a>
  </p> 
</div>
